.col_fff {
    color: #fff!important;
}

.col01 {
    color: #f4514a!important;
}

.col02 {
    color: #47c321!important;
}

.col03 {
    color: #8c8c8c!important
}

.col04 {
    color: #409eff!important
}