@charset "utf-8";

/*弹窗头部*/
.el-dialog__header{
	height: 50px;
	line-height: 20px;
	color: #000;
	box-sizing: border-box;
	position: relative;
  }
  .el-dialog__header span{
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
  }
  .el-dialog__headerbtn .el-dialog__headerbtn{
	  top: 50%;
	  margin-top: -8px;
  }
/*消息*/
.el-message--info,.el-message--success,.el-message--error,.el-message--warning{
	width: 380px;
	font-size: 16px;
}
.el-loading-spinner i {
    color: #409EFF;
    font-size: 40px;
}
.el-cascader-node__label{
	font-size: 14px!important;
}